.page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 350px;
    padding-top: 50px;
    
}


.home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    
}


.homeText {
    color: white;
    font-family: 'monospace';
    font-size: 2rem;
    padding-left: 75px;
    
}

/* Apply styles to the image */
.image1 {
    margin-left: 20px; /* Add some space between the text and the image */
    max-width: 100%; /* Ensure the image does not exceed its container width */
    padding-left: 30%;
} 